<form action="/" action="GET">
  <label for="name">Enter your name:</label>
  <input type="text" name="name">
  <button type="submit">Submit</button>
</form>
{{#if activity}}
  <h2>{{activity}}</h2>
{{/if}}
{{#if age}}
  <h2>{{age}}</h2>
{{/if}}